---
---

/*
 Width: 1000px
 # Columns : 
 Column width: 65px
 Gutter : 20px
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Antic);

$header-font-stack: 'Julius Sans One', 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
$text-font-stack: 'Lato', 'Antic', 'Verdana', Helvetica, Arial, sans-serif;

@mixin large-block-image {
	width: 100%;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

@mixin body-text {
	font-family: "Lato";
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;
	color: #757575;
}

@mixin lettering_container {
	margin: 5rem auto;
	width: 85%;
	padding-bottom: 3rem;
}

body {
	background-color: #FFF;
	margin: 0rem;
	padding: 0rem;
}

#main-header {
	height: 10.5rem;
	font-family: $header-font-stack;
	color: #9AD8D0;
	font-size: 6rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	text-align: center;
	padding-top: 5rem;
	padding-left: 1rem;
}

header {
	a {
	color: #9AD8D0;
	}
	a:hover {
	color: #D7F4F0;
	}
}

nav {
	font-family: Arial, sans-serif;
	font-size: 0.75rem;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: .3rem;
	padding-bottom: 3rem;
}

a {
	text-decoration: none;
	color: #717171;
	text-transform: uppercase;
	white-space: 2rem;
	a:hover {
	color: #D1D1D1;
	}
}

#nav-link {
	margin: 0rem 0.7rem;
}

.main-container {
	width: 100%;
	margin: 0rem auto;
	background-color: #FFFFFF;
}

.image_div_uw {
	height: 500px;
	@include large-block-image;
}

.sections {
	font-family: $text-font-stack;
	margin: 6rem auto;
	max-width: 800px;
	width: 100%;
	text-align: justify;
}

.sections a {
	text-decoration: none;
	color: #bebdbd;
	text-transform: none;
	font-weight: 300;
	a:hover {
	color: #D1D1D1;
	}
}

h1 {
	font-family: $header-font-stack;
	font-size: 1.5rem;
	font-weight: 400;
	color: #9AD8D0;
	text-style: none;
	text-decoration: none;
	letter-spacing: 0.2rem;
	text-align: left;
	padding-bottom: 0rem;
}

h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 100;
	color: #343434;
	text-align: left;
	margin-top: -0.625rem;
	margin-bottom: 0rem;
}

p {
	font-family: $text-font-stack;
	margin-top: 0.5rem;
	@include body-text;
	a {
		color: #bebdbd;
	}
}

ul {
	font-style: none;
	margin-top: -.7rem;
	padding: 0rem 2rem;
	@include body-text;
}

.portfolio_section {
	font-family: $text-font-stack;
	font-weight: 300;
	line-height: 1.2rem;
	margin: 5rem auto;
	max-width: 900px;
	width: 100%;
	a {
		text-transform: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

#blog-link {
	margin: 0 2rem;
}

#blog a {
	color: #bebcbc;
}

/* ===========================================================================================
	Blog index styling
   =========================================================================================== */
.blog_container {
	margin: 8rem auto 0rem auto;
	max-width: 570px;
	width: 100%;
	padding-bottom: 0rem;
}

.post_header {
	font-family: $text-font-stack;
	font-weight: 300;
	font-size: 1.5rem;
}

.post_content {
	@include body-text;
	text-align: justify;
	padding-top: 1rem;
}

.post_img {
	max-width: 570px;
	padding-bottom: 1rem;
}

/* ===========================================================================================
	Portfolio page styling
   =========================================================================================== */

.portfolio_container {
	font-family: $text-font-stack;
	font-weight: 300;
	line-height: 1.2rem;
	margin: 5rem auto;
	max-width: 900px;
	width: 100%;
	a {
		text-transform: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.projects {
	padding-right: 20px;
}

.project1,
.project2 {
	width: 300px;
	height: 300px;
	vertical-align: top;
	display:inline-block;
	*display:inline;
	zoom:1;
	text-align: center;
	font-size: 0.8rem;
	padding-right: 20px;
}



/* ===========================================================================================
	FOOTER
   =========================================================================================== */

footer {
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: white;
	text-align: center;
	clear:both;
}

#footer-link {
	margin: 0 1.4rem;
}

/* ===========================================================================================
	Media Queries
   =========================================================================================== */

/* Smartphones (portrait) ----------- */
@media screen and (min-width: 300px) and (max-width: 360px) {
	#main-header {
		font-size: 3rem;
		padding-top: 5rem;
		height: 9rem;
	}

	.image_div_uw {
		width: 100%;
		height: 330px;
		margin: 5rem auto 0rem auto;
		padding: 0px;
		overflow: hidden;
	}

	.sections {
		width: 85%;
	}

	nav {
		font-size: 0.6rem;
		line-height: 2rem;
	}

	#nav-link {
		margin: 0 0.3rem;
	}

	#blog-link {
		margin: 0 0.4rem;
	}

	#footer-link {
		margin: 0 1rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto 0 auto;
		width: 85%;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 300;
		font-size: 0.95rem;
		line-height: 1.5rem;
		text-align: justify;
		color: #757575;
		padding-top: 1rem;
		padding-bottom: 4rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		margin: 6rem auto;
		width: 85%;
	}
}

/* Smartphones (portrait) custom ----------- */
@media screen and (min-width: 361px) and (max-width: 480px) {
	#main-header {
		font-size: 4.5rem; 
		padding-top: 5rem;
		height: 9rem;
	}

	.image_div_uw {
		width: 100%;
		height: 330px;
		margin: 5rem auto 0rem auto;
		padding: 0px;
		overflow: hidden;
	}

	.sections {
		width: 85%;
	}

	nav {
		font-size: 0.6rem;
	}

	#nav-link {
		margin: 0 0.3rem;
	}

	#blog-link {
		margin: 0 1rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto 0 auto;
		width: 85%;
		padding-bottom: 0rem;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		padding-top: 1rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		margin: 5rem auto;
		width: 85%;
	}
}

/* Smartphones (landscape) custom ----------- */
@media screen and (min-width: 480px) and (max-width: 578px) {
	#main-header {
		font-size: 5.5rem; 
		padding-top: 4rem;
		height: 9rem;
	}

	nav {
		letter-spacing: 0.2rem;
		font-size: 0.7rem;
	}

	.image_div_uw {
		width: 100%;
		height: 380px;
		margin: 6rem auto 0rem auto;
		padding: 0;
		overflow: hidden;
	}

	.sections {
		width: 85%;
	}

	#blog-link {
		margin: 0 1.4rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto;
		width: 85%;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		text-align: justify;
		color: #757575;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		margin: 6rem auto;
		width: 54%;
	}
}


/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 578px) and (max-width: 1024px) {
	#main-header {
		font-size: 6rem; 
	}

	.sections {
		width: 85%;
	}

	nav {
		font-style: 0.6rem;
	}

	/* blog */
	.blog_container {
		margin-top: 6rem;
	}
	.post_header {
		font-size: 1.5rem;
	}

	.post_content {
		font-size: 0.95rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		margin: 6rem auto;
		width: 85%;
	}
}



/* iPhone 4 ----------- */
@media screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	#main-header {
		font-size: 2.9rem;
		padding-top: 6rem;
		height: 9rem;
	}

	nav {
		letter-spacing: 0.2rem;
	}

	.image_div_uw {
		width: 100%;
		height: 380px;
		margin: 5rem auto 0rem auto;
		padding: 0px;
		overflow: hidden;
	}

	.sections {
		width: 85%;
		text-align: justify;
	}

	footer {
		height: 284px;
	}

	#contact_container {
		padding-top: 34px;
	}


	#contact {
		line-height: 1.5rem;
		width: 40%;
		padding-left: 10px;
		float: left;
	}

	.me {
		width: 125px;
		height: auto;
	}

	#social {
		width: 50%;
		margin: 0px auto;
		padding-right: 6px;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto;
		width: 85%;
		padding-bottom: 0rem;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		padding-top: 1rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		margin: 4rem auto;
		width: 85%;
	}
}