/*
 Width: 1000px
 # Columns : 
 Column width: 65px
 Gutter : 20px
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Quicksand|Josefin+Sans|Julius+Sans+One);

body {
	background-color: #FFFFFF;
	margin: 0rem;
	padding: 0rem;
}

#main-header {
	height: 12.5rem;
	font-family: 'Julius Sans One', 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	color: #9AD8D0;
	font-size: 6rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	text-align: center;
	padding-top: 7rem;
	padding-left: 1rem;
}

header a {
	color: #9AD8D0;
}

header a:hover {
	color: #D7F4F0;
}

nav {
	font-family: Arial, sans-serif;
	font-size: 0.75rem;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: .2rem;
}

a {
	text-decoration: none;
	white-space: 2rem;
	color: #717171;
}

a:hover {
	color: #D1D1D1;
}

#nav-link {
	margin: 0rem .9rem;
}

.main-container {
	width: 100%;
	margin: 0rem auto;
	background-color: #FFFFFF;
}

.image_div_uw {
	width: 100%;
	height: 500px;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

.image_div_colosseum {
	width: 100%;
	height: 450px;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

.sections {
	font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 6rem auto;
	max-width: 570px;
	width: 100%;
	text-align: justify;
}

h1 {
	font-family: 'Julius Sans One', 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #9AD8D0;
	text-style: none;
	text-decoration: none;
	letter-spacing: 0.2rem;
	text-align: left;
	padding-bottom: 0rem;
}

h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 100;
	color: #343434;
	text-align: left;
	margin-top: -0.625rem;
	margin-bottom: 0rem;
}

p {
	font-family: 'Lato', 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: .95rem;
	font-weight: 300;
	line-height: 1.5rem;
	color: #757575;
}

p a {
	text-decoration: underline;
}

ul {
	font-family: 'Lato', 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: 0.95rem;
	font-style: none;
	font-weight: 300;
	color: #757575;
	line-height: 1.5rem;
	margin-top: -.7rem;
	padding-right: 3rem;
}


/* ===========================================================================================
	Blog index styling
   =========================================================================================== */

.image_div_uw {
	width: 100%;
	height: 450px;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

.blog_container {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 6rem auto;
	max-width: 600px;
	width: 100%;
}

.post_header {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 24px;
}


/* ===========================================================================================
	Portfolio page styling
   =========================================================================================== */

.portfolio_container {
	font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 2rem;
	margin: 6rem auto;
	max-width: 600px;
	width: 100%;
}

/* ===========================================================================================
	Contact footer styling
   =========================================================================================== */


footer {
	font-family: 'Lato', Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #9AD8D0;
	margin: auto;
	height: 360px;
	overflow: hidden;
}

#footer_container {
	background-color: #F2F2F2;
	margin: auto;
	width: 100%;
	height: 295px;
}

#contact_container {
	font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #343434;
	background-color: #F2F2F2;
	text-align: left;
	margin: 0px auto;
	padding-top: 40px;
	max-width: 550px;
	width: 100%;
	height: 250px;
}

#contact {
	line-height: 2rem;
	width: 50%;
	float: left;
}

#social {
	line-height: 2rem;
	width: 36%;
	margin: 0 auto;
	float: right;
}





/* ===========================================================================================
	Media Queries
   =========================================================================================== */

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 300px) and (max-width: 360px) {
	#main-header {
		font-size: 2.9rem;
		padding-top: 5rem;
		height: 9rem;
	}

.image_div_uw {
	width: 100%;
	height: 388px;
	margin: 5rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

	.sections {
		width: 80%;
		text-align: left;
	}

	#contact {
		line-height: 1.5rem;
		width: 40%;
		padding-left: 5px;
		float: left;
	}

	#social {
		width: 50%;
		margin: 0px auto;
		padding-right: 6px;
	}
}

/* custom ----------- */
@media screen and (min-width: 360px) and (max-width: 479px) {
	#main-header {
		font-size: 3.6rem; 
		padding-top: 5rem;
		height: 9rem;
	}

	.sections {
		width: 80%;
		text-align: left;
	}

	#contact {
		line-height: 1.5rem;
		width: 40%;
		padding-left: 22px;
		float: left;
	}

	#social {
		width: 47%;
		margin: 0px auto;
		padding-right: 11px;
	}
}

/* custom ----------- */
@media screen and (min-width: 404px) and (max-width: 414px) {
	#main-header {
		font-size: 4rem; 
	}
}

/* custom ----------- */
@media screen and (min-width: 414px) and (max-width: 451px) {
	#main-header {
		font-size: 4.4rem; 
	}
}

/* custom ----------- */
@media screen and (min-width: 451px) and (max-width: 480px) {
	#main-header {
		font-size: 4.8rem; 
	}
}

/* custom ----------- */
@media screen and (min-width: 480px) and (max-width: 509px) {
	#main-header {
		font-size: 5.5rem; 
	}
}

/* custom ----------- */
@media screen and (min-width: 509px) and (max-width: 577px) {
	#main-header {
		font-size: 5.8rem; 
	}
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 578px) and (max-width: 1024px) {
	#main-header {
		font-size: 6rem; 
	}
}

/* Desktops and laptops ----------- */
@media screen and (min-width: 1224px) {
	#main-header {
		font-size: 6rem; 
	}
}

/* Large screens ----------- */
@media screen and (min-width: 1824px){
	#main-header {
		font-size: 6rem; 
	}
}

/* iPhone 4 ----------- */
@media screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	#main-header {
		font-size: 2.9rem;
		padding-top: 6rem;
		height: 9rem;
	}

	.image_div_uw {
	width: 100%;
	height: 300px;
	margin: 5rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

	.sections {
		width: 80%;
		text-align: left;
	}

	#contact {
		line-height: 1.5rem;
		width: 40%;
		padding-left: 5px;
		float: left;
	}

	#social {
		width: 50%;
		margin: 0px auto;
		padding-right: 6px;
	}
}

}



