---
---

/*
 Width: 1000px
 # Columns : 
 Column width: 65px
 Gutter : 20px
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Antic);

$header-font-stack: 'Julius Sans One', 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
$text-font-stack: 'Lato', 'Antic', 'Verdana', Helvetica, Arial, sans-serif;

@mixin large-block-image {
	width: 100%;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

@mixin body-text {
	font-family: 'Lato', 'Antic', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;
	color: #757575;
}

@mixin lettering_container {
	margin: 5rem auto;
	width: 85%;
	padding-bottom: 3rem;
}

body {
	background-color: #FFF;
	margin: 0rem;
	padding: 0rem;
}

#cssmenu {
  font-family: $text-font-stack;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
	text-transform: lowercase;
	letter-spacing: 0.3rem;
}

#cssmenu > ul {
  font-size: 0.75rem;
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */
}

#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#cssmenu > ul li.right {
  float: right;
}

#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  font-size: 0.75rem;
  text-align: left;
  display: none;
  width: 190px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 1px solid #d9ced2;
  border-top: 0 none;
}

#cssmenu > ul li.has-sub ul li {
  display: block;
}

#cssmenu > ul li.has-sub > a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}

#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #d80041 url('images/caret.png') no-repeat;
  background-position: 90% 195%;
}

#cssmenu > ul li a {
  display: block;
  padding: 0.3rem 1.125rem 0 1.125rem;
  text-decoration: none;
  color: #747474;
}

#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #fff;
  color: #D1D1D1;
}

@media screen and (max-width: 600px) {
  #cssmenu > ul {
    width: 155px;
    margin: 0rem auto;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 12% -21%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background: transparent;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;  
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
    padding-left: 3.5rem;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}

/* Make sure they show even if hidden in mobile view by JS */
@media screen and (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}





#main-header {
	height: 10.5rem;
	font-family: $header-font-stack;
	color: #9AD8D0;
	font-size: 6rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	text-align: center;
	padding-top: 5rem;
	padding-left: 1rem;
}

#main-header {
	a {
	color: #9AD8D0;
	}
	a:hover {
	color: #D7F4F0;
	}
}

a {
	text-decoration: none;
	color: #717171;
	text-transform: uppercase;
	white-space: 2rem;
	a:hover {
	color: #D1D1D1;
	}
}

.main-container {
	width: 100%;
	margin: 0rem auto;
	background-color: #FFFFFF;
}

.image_div_uw {
	height: 500px;
	@include large-block-image;
}

.story_section, .portfolio_section, .portfolio, .blog_section {
	font-family: $text-font-stack;
	margin: 2rem auto;
	max-width: 800px;
	width: 100%;
	text-align: justify;
	a {
		text-decoration: none;
		text-transform: none;
		font-weight: 300;
		color: #bebdbd;
	}
	a:hover {
		color: #D1D1D1;
	}
}

.story_section, .portfolio_section {
	padding-top: 2rem;
}

.portfolio_section {
	line-height: 1.1rem;
	font-weight: 300;
}

h1 {
	font-family: $header-font-stack;
	font-size: 1.5rem;
	font-weight: 400;
	color: #9AD8D0;
	text-style: none;
	text-decoration: none;
	letter-spacing: 0.2rem;
	text-align: left;
	padding-bottom: 0rem;
}

h2 {
	font-family: $text-font-stack;
	font-size: 1.125rem;
	font-weight: 300;
	color: #343434;
	text-align: left;
	margin-top: -0.625rem;
	margin-bottom: 0rem;
}

p {
	font-family: $text-font-stack;
	font-weight: 300;
	margin-top: 0rem;
	@include body-text;
	a {
		color: #bebdbd;
	}
}

ul {
	font-style: none;
	margin-top: -.7rem;
	padding: 0rem 2rem;
	@include body-text;
}

#blog-link {
	margin: 0 2rem;
}

/* ===========================================================================================
	BLOG INDEX
   =========================================================================================== */
.blog_container {
	margin: 8rem auto 0rem auto;
	max-width: 800px;
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 1px dotted #000000;
}

.blog_container a {
	text-decoration: none;
	color: #bebdbd;
	text-transform: none;
	font-weight: 300;
}

.blog_container a:hover {
	color: #D1D1D1;
}

.post_header {
	font-family: $text-font-stack;
	font-weight: 300;
	font-size: 1.5rem;
}

.post_content {
	@include body-text;
	text-align: justify;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.post_img {
	max-width: 570px;
	padding-bottom: 1rem;
}

.category_container, .subscribe_container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 2rem 0;
	font-family: $text-font-stack;
	border-bottom: 1px dotted #000000;
}

.category_container a {
	text-decoration: none;
	text-transform: none;
	color: #bebdbd;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 2rem;
}
.category_container a:hover {
	color: #D1D1D1;
}

.category_container ul {
    list-style: none;
    line-height: 0;
}
.category_container li:before { 
    content: "";
    border-color: transparent #696969;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: inline-block;
    height: 0;
    width: 0;
    left: -0.8em; /* space bt tri and links */
    top: -0.1em; /* lines up tris with links */
    position: relative;
}

#mc_embed_signup_scroll {
	font-family: $text-font-stack;
	font-weight: 300;
}

/* ===========================================================================================
	TAGS
   =========================================================================================== */

.tags_container {
	font-family: $text-font-stack;
	font-weight: 300;
	line-height: 1.2rem;
	margin: 5rem auto;
	max-width: 800px;
	width: 100%;
	a {
		text-transform: none;
		color: #bebdbd;
	}
	a:hover {
		text-decoration: none;
		color: #D1D1D1;
	}
}

.tags_container ul {
	padding-bottom: 3rem;
}

/* ===========================================================================================
	PORTFOLIO
   =========================================================================================== */

.portfolio_container {
	font-family: $text-font-stack;
	font-weight: 300;
	line-height: 1.2rem;
	margin: 5rem auto;
	max-width: 900px;
	width: 100%;
	a {
		text-transform: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.project1,
.project2 {
	height: 300px;
	padding-right: 20px;
	margin: 0 auto;
	vertical-align: top;
	display:inline-block;
	*display:inline;
	zoom:1;
	text-align: center;
	font-size: 0.8rem;
}

/* ===========================================================================================
	RESUME
   =========================================================================================== */
.resume_section {
	font-family: $text-font-stack;
	margin: 2rem auto;
	padding-bottom: 3rem;
	max-width: 800px;
	width: 100%;
	text-align: justify;
	a {
		text-decoration: none;
		text-transform: none;
		font-weight: 300;
		color: #bebdbd;
	}
	a:hover {
		color: #D1D1D1;
	}
}

.resume {
	padding-top: 2rem;
}

/* ===========================================================================================
	FOOTER
   =========================================================================================== */

footer {
	width: 100%;
	padding-top: 4rem;
	padding-bottom: 3rem;
	background-color: white;
	text-align: center;
	clear:both;
}

#footer-link {
	margin: 0 1.4rem;
}

/* ===========================================================================================
	Media Queries
   =========================================================================================== */
/* iPhone 4 ----------- */
@media screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	#main-header {
		font-size: 3rem;
		padding-top: 5rem;
		height: 9rem;
	}

	.image_div_uw {
		width: 100%;
		height: 330px;
		margin: 5rem auto 0rem auto;
		padding: 0px;
		overflow: hidden;
	}

	.story_section, .portfolio_section, .blog_section, .resume_section, .blog_container, .category_container, .subscribe_container, .tags_container {
		width: 85%;
	}

	#blog-link {
		margin: 0 0.4rem;
	}

	#footer-link {
		margin: 0 0.7rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto 0 auto;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		line-height: 1.5rem;
		text-align: justify;
		padding-bottom: 4rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	.subscribe_container {
		padding: none;
		margin: 0 auto;
	}

	#mc-embedded-subscribe-form, #mc_embed_signup {
		width: 80%;
		padding: none;
	}

	/* portfolio */
	.portfolio_container, .project1, .project2  {
		width: 100%;
	}

	.projects {
		width: 98%;
	}

	.portfolio_section, .portfolio_container {
		margin-top: 2rem;
		margin-bottom: 0rem;
		padding: none;
	}
}

/* Smartphones (portrait) ----------- */
@media screen and (min-width: 300px) and (max-width: 368px) {
	#main-header {
		font-size: 3rem;
		padding-top: 5rem;
		height: 9rem;
	}

	.image_div_uw {
		width: 100%;
		height: 330px;
		margin: 5rem auto 0rem auto;
		padding: 0px;
		overflow: hidden;
	}

	.story_section, .portfolio_section, .blog_section, .resume_section, .blog_container, .category_container, .subscribe_container, .tags_container {
		width: 85%;
	}

	#blog-link {
		margin: 0 0.4rem;
	}

	#footer-link {
		margin: 0 0.7rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto 0 auto;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		line-height: 1.5rem;
		text-align: justify;
		padding-bottom: 4rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	.subscribe_container {
		padding: none;
		margin: 0 auto;
	}

	#mc-embedded-subscribe-form, #mc_embed_signup {
		width: 80%;
		padding: none;
	}

	/* portfolio */
	.portfolio_container, .project1, .project2  {
		width: 100%;
	}

	.projects {
		width: 98%;
	}

	.portfolio_section, .portfolio_container {
		margin-top: 2rem;
		margin-bottom: 0rem;
		padding: none;
	}
}

/* Smartphones (portrait) custom ----------- */
@media screen and (min-width: 369px) and (max-width: 480px) {
	#main-header {
		font-size: 4.2rem; 
		padding-top: 5rem;
		height: 9rem;
	}

	.image_div_uw {
		width: 100%;
		height: 330px;
		margin: 5rem auto 0rem auto;
		padding: 0px;
		overflow: hidden;
	}

	.story_section, .portfolio_section, .blog_section, .resume_section, .category_container, .subscribe_container, .blog_container, .tags_container {
		width: 85%;
	}

	#blog-link {
		margin: 0 1rem;
	}

	#footer_link {
		margin: 0 2rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto 0 auto;
		padding-bottom: 0rem;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		padding-top: 1rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		width: 100%;
		margin: 5rem auto;
	}

	.project1, .project2 {
		width: 100%;
	}
}

/* Smartphones (landscape) custom ----------- */
@media screen and (min-width: 480px) and (max-width: 578px) {
	#main-header {
		font-size: 5.5rem; 
		padding-top: 4rem;
		height: 9rem;
	}

	.image_div_uw {
		width: 100%;
		height: 380px;
		margin: 6rem auto 0rem auto;
		padding: 0;
		overflow: hidden;
	}

	.story_section, .portfolio_section, .resume_section, .blog_section, .blog_container, .category_container, .subscribe_container, .tags_container {
		width: 85%;
	}

	#blog-link {
		margin: 0 1.2rem;
	}

	/* blog */
	.blog_container {
		margin: 4rem auto 0 auto;
	}

	.post_header {
		font-size: 1.2rem;
	}

	.post_content {
		font-size: 0.95rem;
		text-align: justify;
		color: #757575;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		margin: 3rem auto;
	}

	.project1, .project2 {
		padding: none;
		width: 100%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 578px) and (max-width: 1024px) {
	#main-header {
		font-size: 6rem; 
	}

	.story_section, .portfolio_section, .blog_section, .resume_section, .blog_container, .category_container, .subscribe_container, .tags_container {
		width: 85%;
	}

	#blog-link {
		margin: 0 1.5rem;
	}

	/* blog */
	.blog_container {
		margin-top: 6rem;
	}

	.post_header {
		font-size: 1.5rem;
	}

	.post_content {
		font-size: 0.95rem;
	}

	.post_img {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	/* portfolio (all) */
	.portfolio_container {
		width: 100%
	}

	.project1, .project2 {
		width: 100%;
	}
}