/*
 Width: 1000px
 # Columns : 
 Column width: 65px
 Gutter : 20px
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
	background-color: #FFFFFF;
	margin: 0rem;
	padding: 0rem;
}

.main-header {
	height: 12.5rem;
	font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	color: rgb(146, 245, 196);
	font-size: 4.5rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	text-align: center;
	padding-top: 7rem;
	padding-left: 1rem;
}

nav {
	font-family: Arial, sans-serif;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

a {
	text-decoration: none;
	white-space: 2rem;
	color: #717171;
}

a:visited {
	color: #9E9E9E;
}

a:hover {
	color: #9E9E9E;
}

.nav-link {
	margin: 0rem .7rem;
}

#main-container {
	width: 100%;
	margin: 0rem auto;
	background-color: #FFFFFF;
}

.image_div_uw {
	width: 100%;
	height: 450px;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

.image_div_colosseum {
	width: 100%;
	height: 450px;
	margin: 6rem auto 0rem auto;
	padding: 0px;
	overflow: hidden;
}

.sections {
	font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
	margin: 6rem auto;
	max-width: 700px;
	width: 100%;
}

h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	text-style: none;
	text-decoration: none;
	text-align: left;
	padding-bottom: 0rem;
}

h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	text-align: left;
	margin-top: -0.625rem;
	margin-bottom: 0rem;
}

p {
	font-family: 'Lato', 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: .95rem;
	font-weight: 300;
	line-height: 1.5rem;
}

ul {
	font-family: 'Lato', 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: 0.95rem;
	font-style: none;
	font-weight: 300;
	line-height: 1.5rem;
	margin-top: -.7rem;
	padding-right: 3rem;
}

.main_footer base {
	font-family: 'Verdana', Helvetica, Arial, sans-serif;
	text-align: center;
}

.main_footer {
	font-family: 'Verdana', Helvetica, Arial, sans-serif;
	height: 3.13rem;
	color: black;
	padding-top: 20px;
}

.base {
	font-family: 'Cabin', Verdana, Helvetica, Arial, sans-serif;
	padding-top: 50px;
	color: black;
	text-align: center;
	font-size: 16px;
}


/* ===========================================================================================
	Media Queries
   =========================================================================================== */
@media screen and (max-width: 700px) {
	.sections {
		width: 90%;
	}

}







