<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    	<title>Rachel C. Lee</title>
	<meta content="Rachel Lee's Resume" name="description" />
	<meta content="Rachel Lee, Rachel, Lee, resume" name="keywords" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<link href="/index.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/index.css" type="text/css" media="screen">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
</head>

<header class="main-header"><span class="nav-link"><a href="/">Rachel</a></span></header>
<nav>
	<span class="nav-link"><a href="/">Resum&Eacute</a></span>
	<span class="nav-link"><a href="/blog/">Blog</a></span>
	<span class="nav-link"><a href="/portfolio/">Portfolio</a></span>
	<span class="nav-link"><a href="/contact/">Contact</a></span>
</nav>

<body>	
	{{content}}
	
	<footer class="main_footer base">
		<div class="contact_container">
			<div class="contact">
				contact:<BR>
					<i class="fa fa-envelope-o"></i> email: <a href="mailto: rachellee03@gmail.com" target="_blank">rachellee03@gmail.com</a>
				<BR>
					<i class="fa fa-github"></i> github: <a href="http://www.github.com/rachellee" target="_blank">rachellee</a>
				<BR>
					<i class="fa fa-dribbble"></i> dribbble: <a href="" target="_blank"></a>
			</div>

			<div class="social">
				social:<BR>
					<i class="fa fa-instagram"></i> instagram: <a href="http://www.instagram.com/rachllee__" target="_blank">rachllee__</a>
				<BR>
					<i class="fa fa-music"></i> hypem: <a href="http://www.hypem.com/rach3l" target="_blank">rach3l</a>
				<BR>
					<i class="fa fa-pinterest"></i> pinterest: <a href="http://www.pinterest.com/l2achellee" target="_blank">l2achellee</a>
			</div>
		</div>
		xx
	</footer>	
</body>
</html>